<footer>
    <section class="copyright">
        <div class="row">
            <div class="two-thirds column">
                Copyright &copy; {{date format="YYYY"}} <a href="{{@site.url}}" class="text-underline">{{@site.title}}</a>. All rights reserved. Published with <a href="http://ghost.org/" class="text-underline">Ghost</a>. Theme <a href="https://github.com/stefanbc/Asgar" class="text-underline">Asgar v1.0.6</a>.
            </div>
            <div class="one-third column text-right">
                <a class="going-up" href="#" title="Ascending!">Going up?</a> <a title="Going dark!" class="color-switcher"><i class="fas fa-adjust"></i></a>
            </div>
        </div>
    </section>
</footer>