<footer>
    {{#if @labs.subscribers}}
    <section class="subscribe">
        <div class="row">
            <div class="twelve columns text-center">
                <h4>Subscribe</h4>
                {{subscribe_form placeholder="email address"}}
            </div>
        </div>
    </section>
    {{/if}}
    <section class="copyright">
        <div class="row">
            <div class="one-half column">
                Copyright &copy; {{date format="YYYY"}} <a href="{{@blog.url}}" class="text-underline">{{@blog.title}}</a>. All rights reserved. Published with <a href="http://ghost.org/" class="text-underline">Ghost</a>.
            </div>
            <div class="one-half column text-right">
                <a id="going-up" href="#">Going up?</a>
            </div>
        </div>
    </section>
</footer>