<footer>
    {{#if @labs.members}}
    <section id="subscribe" class="subscribe-form">
        <div class="row">
            <div class="twelve columns text-center">
                <h2>Subscribe</h2>
                <p>Stay up to date! Get all the latest & greatest posts delivered straight to your inbox</p>
                <form data-members-form="subscribe">
                    <input data-members-email type="email" required="true" placeholder="Your email address" />
                    <button class="button button-primary" type="submit">
                        <span class="button-content">Subscribe</span>
                        <span class="button-loader"><i class="fas fa-circle-notch fa-spin"></i></span>
                    </button>
                    <p data-members-error></p>
                </form>
            </div>
        </div>
    </section>
    {{/if}}
    {{navigation type="secondary"}}
    <section class="copyright">
        <div class="row">
            <div class="two-thirds column">
                Copyright &copy; {{date format="YYYY"}} <a href="{{@site.url}}"
                    class="text-underline">{{@site.title}}</a>. All rights reserved. Published with <a
                    href="http://ghost.org/" class="text-underline">Ghost</a>. Theme <a
                    href="https://github.com/stefanbc/Asgar" class="text-underline">Asgar v1.0.8</a>.
            </div>
            <div class="one-third column text-right">
                <a class="action going-up" href="#" title="Ascending!"><i class="fas fa-arrow-up"></i></a> <a
                    title="Going dark!" class="action color-switcher"><i class="fas fa-adjust"></i></a>
            </div>
        </div>
    </section>
</footer>