  <nav>
    <ul>
    {{#foreach navigation}}
        <li>
          <a class="navbar-link" href="{{url absolute="true"}}" title="{{label}}">{{label}}</a>
        </li>
    {{/foreach}}
    </ul>
  </nav>