<section class="social text-center">
    <a href="https://twitter.com/stefanbc"><i class="fa fa-twitter" aria-hidden="true"></i></a> 
    <a href="https://github.com/stefanbc"><i class="fa fa-github" aria-hidden="true"></i></a> 
    <a href="https://plus.google.com/+StefanCosmaIO"><i class="fa fa-google-plus" aria-hidden="true"></i></a> 
    <a href="http://linkedin.com/in/stefanbc"><i class="fa fa-linkedin" aria-hidden="true"></i></a> 
    <a href="mailto:hello@stefancosma.xyz?subject=Hello!"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</section>