<section class="social text-center">
    <a href="https://twitter.com/stefanbc"><i class="fa fa-twitter" aria-hidden="true"></i></a>

    <a href="https://github.com/stefanbc"><i class="fa fa-github" aria-hidden="true"></i></a>
    <a href="https://jsfiddle.net/user/stefanbc/"><i class="fa fa-jsfiddle" aria-hidden="true"></i></a>

    <a href="http://stackoverflow.com/users/2483223/stefanbc"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
    <a href="https://news.ycombinator.com/user?id=stefcosma"><i class="fa fa-hacker-news" aria-hidden="true"></i></a>
    <a href="http://dribbble.com/stefanbc"><i class="fa fa-dribbble" aria-hidden="true"></i></a>

    <a href="https://medium.com/@stefanbc"><i class="fa fa-medium" aria-hidden="true"></i></a>
    <a href="https://getpocket.com/@stefanbc"><i class="fa fa-get-pocket" aria-hidden="true"></i></a>
    <a href="https://plus.google.com/+StefanCosmaIO"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
    <a href="http://linkedin.com/in/stefanbc"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
    <a href="https://www.producthunt.com/@stefanbc"><i class="fa fa-product-hunt" aria-hidden="true"></i></a>

    <a href="mailto:hello@stefancosma.xyz?subject=Hello!"><i class="fa fa-envelope" aria-hidden="true"></i></a>
</section>