{{#if twitter}}
<a href="{{twitter_url twitter}}" target="_blank" rel="noopener"><i class="fab fa-twitter"
        aria-hidden="true"></i></a>
{{/if}}
{{#if facebook}}
<a href="{{facebook_url facebook}}" target="_blank" rel="noopener"><i class="fab fa-facebook"
        aria-hidden="true"></i></a>
{{/if}}

<a href="https://github.com/your_username_here" target="_blank" rel="noopener"><i class="fab fa-github"
        aria-hidden="true"></i></a>
<a href="https://dev.to/your_username_here" target="_blank" rel="noopener"><i class="fab fa-dev" aria-hidden="true"></i></a>
<a href="http://stackoverflow.com/users/2483223/your_username_here" target="_blank" rel="noopener"><i
        class="fab fa-stack-overflow" aria-hidden="true"></i></a>
<a href="https://news.ycombinator.com/user?id=your_username_here" target="_blank" rel="noopener"><i
        class="fab fa-hacker-news" aria-hidden="true"></i></a>

<a href="https://medium.com/@your_username_here" target="_blank" rel="noopener"><i class="fab fa-medium"
        aria-hidden="true"></i></a>
<a href="https://getpocket.com/@your_username_here" target="_blank" rel="noopener"><i class="fab fa-get-pocket"
        aria-hidden="true"></i></a>
<a href="https://linkedin.com/in/your_username_here" target="_blank" rel="noopener"><i class="fab fa-linkedin"
        aria-hidden="true"></i></a>
<a href="https://producthunt.com/@your_username_here" target="_blank" rel="noopener"><i class="fab fa-product-hunt"
        aria-hidden="true"></i></a>

<a href="http://dribbble.com/your_username_here" target="_blank" rel="noopener"><i class="fab fa-dribbble"
        aria-hidden="true"></i></a>
<a href="https://jsfiddle.net/user/your_username_here/" target="_blank" rel="noopener"><i class="fab fa-jsfiddle"
        aria-hidden="true"></i></a>
<a href="https://codepen.io/your_username_here/" target="_blank" rel="noopener"><i class="fab fa-codepen"
        aria-hidden="true"></i></a>

<a href="mailto:your@email.here" target="_blank" rel="noopener"><i class="fas fa-envelope"
        aria-hidden="true"></i></a>