{{!< default}}

{{#post}}
<article class="post-wrapper">
    <div class="row">
        <div class="five columns">
            <h2 class="post-title">{{{title}}}</h2>

            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
        <div class="offset-by-one six columns u-pull-right">
            <section class="table-wrapper events-list">
                <table class="u-full-width">
                    <tbody>
                        <tr>
                            <td>Event 1</td>
                            <td>2019</td>
                            <td class="text-center">
                                <div class="row">
                                   <div class="one-half column">
                                       <a href="" title="Slides"><i class="fas fa-file-powerpoint"></i></a>
                                   </div>
                                   <div class="one-half column">
                                       <a href="" title="Video"><i class="fas fa-video"></i></a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Event 2</td>
                            <td>2019</td>
                            <td class="text-center">
                                <div class="row">
                                   <div class="one-half column">
                                       <a href="" title="Slides"><i class="fas fa-file-powerpoint"></i></a>
                                   </div>
                                   <div class="one-half column">
                                       <a href="" title="Video"><i class="fas fa-video"></i></a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Event 3</td>
                            <td>2019</td>
                            <td class="text-center">
                                <div class="row">
                                   <div class="one-half column">
                                       <a href="" title="Slides"><i class="fas fa-file-powerpoint"></i></a>
                                   </div>
                                   <div class="one-half column">
                                       <a href="" title="Video"><i class="fas fa-video"></i></a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Event 4</td>
                            <td>2019</td>
                            <td class="text-center">
                                <div class="row">
                                   <div class="one-half column">
                                       <a href="" title="Slides"><i class="fas fa-file-powerpoint"></i></a>
                                   </div>
                                   <div class="one-half column">
                                       <a href="" title="Video"><i class="fas fa-video"></i></a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>Event 5</td>
                            <td>2019</td>
                            <td class="text-center">
                                <div class="row">
                                   <div class="one-half column">
                                       <a href="" title="Slides"><i class="fas fa-file-powerpoint"></i></a>
                                   </div>
                                   <div class="one-half column">
                                       <a href="" title="Video"><i class="fas fa-video"></i></a>
                                   </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    {{/post}}