{{!< default}}

{{#post}}
<article class="post-wrapper">
    <div class="row">
        <div class="twelve columns">
            <h2 class="post-title">{{{title}}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="five columns">
            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
        <div class="offset-by-one six columns u-pull-right">
            <section class="table-wrapper speaking-list">
                <div class="text-center">
                    <i class="fas fa-sync fa-spin"></i>
                </div>
                <table class="u-full-width">
                    <tbody></tbody>
                </table>
            </section>
        </div>
    </div>
    {{/post}}