{{!< default}}
{{#post}}
  <article class="post-wrapper">
    <h2 class="post-title">{{{title}}}</h2>

    <section class="post-content">
      <div class="kg-width-full">
        {{content}}
      </div>
    </section>
  </article>
{{/post}}