{{!< default}}

{{#post}}
<article class="post-wrapper">
    <div class="row">
        <div class="twelve columns">
            <h2 class="post-title">{{{title}}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="five columns">
            <section class="post-full-content">
                <div class="post-content">
                    {{content}}
                </div>
            </section>
        </div>
        <div class="offset-by-one six columns u-pull-right">
            <section class="table-wrapper projects-list">
                <table class="u-full-width">
                    <tbody>
                        <tr>
                            <td>Project 1</td>
                            <td>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne
                                lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</td>
                            <td class="text-center"><a href="" title="Fork Project 1"><i
                                        class="fas fa-code-branch"></i></a></td>
                        </tr>
                        <tr>
                            <td>Project 2</td>
                            <td>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne
                                lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</td>
                            <td class="text-center"><a href="" title="Fork Project 2"><i
                                        class="fas fa-code-branch"></i></a></td>
                        </tr>
                        <tr>
                            <td>Project 3</td>
                            <td>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne
                                lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</td>
                            <td class="text-center"><a href="" title="Fork Project 3"><i
                                        class="fas fa-code-branch"></i></a></td>
                        </tr>
                        <tr>
                            <td>Project 4</td>
                            <td>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne
                                lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</td>
                            <td class="text-center"><a href="" title="Fork Project 4"><i
                                        class="fas fa-code-branch"></i></a></td>
                        </tr>
                        <tr>
                            <td>Project 5</td>
                            <td>Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De carne
                                lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel maleficia?</td>
                            <td class="text-center"><a href="" title="Fork Project 5"><i
                                        class="fas fa-code-branch"></i></a></td>
                        </tr>
                    </tbody>
                </table>
            </section>
        </div>
    </div>
    {{/post}}