{{!< default}}

<article class="post-wrapper">
    <div class="row">
        <div class="twelve columns">
            {{subscribe_form
                form_class="gh-signin"
                input_class="gh-input"
                button_class="button"
                placeholder="Your email address"
                autofocus="true"
            }}
        </div>
    </div>
</article>