//globals
html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-1;
    font-weight: 400;
    font-size: 1.6em;
    letter-spacing: .01rem;
    line-height: 1.6;
    background: $white;
    color: $dark;
}

::selection { background: $grey; }

a {
    text-decoration: none;
    color: $dark;
    cursor: pointer;
    @extend %transition;

    &:hover {
        color: $dark-red;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 2rem ;
    color: $dark;
    font-weight: 700;
    font-family: $font-0;
    text-transform: capitalize;
}

h1 {
    font-size: 4rem;
    letter-spacing: -.1rem;
    line-height: 1.2;
}

h2 {
    font-size: 3.6rem;
    letter-spacing: -.1rem;
    line-height: 1.25;
}

h3 {
    font-size: 3rem;
    letter-spacing: -.08rem;
    line-height: 1.3;
}

h4 {
    font-size: 2.8rem;
    letter-spacing: -.08rem;
    line-height: 1.35;
}

h5 {
    font-size: 2.4rem;
    letter-spacing: -.05rem;
    line-height: 1.5;
}

h6 {
    font-size: 2rem;
    letter-spacing: 0;
    line-height: 1.4;
}

select:focus,
textarea:focus {
    border: 1px solid $red;
}

input {
    &[type='email']:focus,
    &[type='number']:focus,
    &[type='password']:focus,
    &[type='search']:focus,
    &[type='tel']:focus,
    &[type='text']:focus,
    &[type='url']:focus {
        border: 1px solid $red;
    }
}

.button {
    &.button-primary {
        position: relative;
        background-color: $red;
        border-color: $red;

        &:hover,
        &:focus {
            background-color: $dark-red;
            border-color: $dark-red;
        }
    }
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
    font-style: italic;
}

b,
strong {
    font-weight: bold;
}

dt {
    margin-bottom: 1.4rem;
}

blockquote {
    position: relative;
    margin: 0 0 2.5rem;
    padding: 0 0 1rem;
    color: $grey;
    font-family: $font-0;
    font-style: italic;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-nowrap {
    white-space: nowrap;
}

.text-lowercase {
    text-transform: lowercase;
}

.text-uppercase {
    text-transform: uppercase;
}

.text-capitalize {
    text-transform: capitalize;
}

.text-underline {
    text-decoration: underline;
}