//media queries
@media(min-width: 550px) {
	.value-props {
		margin-top: 9rem;
		margin-bottom: 7rem;
	}
	.value-img {
		margin-bottom: 1rem;
	}
	.example-grid {
		.column {
			margin-bottom: 1.5rem;
		}
		.columns {
			margin-bottom: 1.5rem;
		}
	}
	.docs-section {
		padding: 6rem 0;
	}
	.example-send-yourself-copy {
		float: right;
		margin-top: 12px;
	}
	.example-screenshot-wrapper {
		position: absolute;
		width: 48%;
		height: 100%;
		left: 0;
		max-height: none;
	}
}