//colors
$white: #fff;
$dark: #222;
$light: #ddd;
$red: #e74c3c;
$grey: #666;
$dark-red: darken($red, 20%);

//colors dark mode
$dm-light: #bfbfbf;
$dm-dark: #1c1c21;
$dm-red: #e6a199;
$dm-grey: #999;

//fonts
$font-0: 'Playfair Display', 'Times New Roman', serif;
$font-1: 'Georgia', serif;