//colors
$color-0: #222;
$color-1: #ddd;
$color-2: #e74c3c;
$color-3: #666;
$color-4: darken($color-2, 20%);
$color-5: #eee;

//colors dark mode
$dark-color-0: #bfbfbf;
$dark-color-1: #1c1c21;
$dark-color-2: #e6a199;
$dark-color-3: #999;
$dark-color-4: #e6a199;
$dark-color-5: #2b2b2b;

//fonts
$font-0: 'Playfair Display', 'Times New Roman', serif;
$font-1: 'Georgia', serif;