//colors
$color-0: #222;
$color-1: #ddd;
$color-2: #e74c3c;
$color-3: #666;
$color-4: darken($color-2, 20%);
$color-5: #eee;
$color-6: #fff;

//fonts
$font-0: 'Playfair Display', 'Times New Roman', serif;
$font-1: 'Georgia', serif;